$font-display: 'Fredericka the Great',
cursive;
$font-header: 'Lato',
"Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-body: 'Quicksand',
serif;
// Colors
$color-outline: rgb(40, 55, 128);
$color-fill: rgb(69, 95, 226);
$color-background: rgb(96, 128, 147);
$color-background-light: rgb(124, 148, 163);
$color-background-lightest: rgb(178, 185, 214);
$color-background-accent: rgb(255, 255, 255);
$color-background-dark: rgb(70, 110, 131);
$color-background-darkest: rgb(44, 88, 114);
$color-background-secondary: rgb(231, 193, 146);
$color-background-secondary-light: rgb(255, 226, 190);
$color-background-secondary-lightest: rgb(255, 237, 215);
$color-background-secondary-dark: rgb(206, 160, 104);
$color-background-secondary-darkest: rgb(178, 126, 63);